<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Store Catalog</h1>

<% @products.each do |product| %>
  <div class="entry">
    <%= image_tag(product.image) %>
    <h3><%= product.name %></h3>
    <%= sanitize(product.description) %>

    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price) %></span>
      <%= button_to 'Add to Cart', line_items_path(product_id: product), class: 'add_to_cart', remote:true %> 
    </div>
    
  </div>
<% end %>

<% if @products.blank? %>
 <h4>No matching result found. Please try using a different keyword.</h4>
<% end %>
<%= link_to 'Back', shopper_url %>